.navbar {
  z-index: 100;
  background-color: var(--color-background-primary);
  left: 1vh;
  top: 1vh;
  border-radius: 15px;
  padding: 0;
  height: calc(100%);
  margin-right: 2vh;
  position: sticky;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
}

.navbar-toggler {
  color: var(--color-text-primary);
  cursor: pointer;
  border: none;
}

.navbar-closed {
}

.navbar-icon {
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  color: var(--color-text-primary);
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.navbar-icon:hover {
  color: var(--color-background-primary);
  background: var(--color-highlight);
}

.hidden {
  display: none;
}

.content {
  width: 100%;
}

.top-container {
  display: flex;
  min-height: 100vh;
}
