<div class="top-container" *ngIf="isAuthenticated">
  <div class="navbar">
    <div class="navbar-container" [class.navbar-closed]="!navbarOpened">
      <div class="toggler navbar-item" (click)="navbarOpened = !navbarOpened" >
        <span class="material-symbols-outlined navbar-icon">menu</span>
      </div>
      <div [class.navbar-closed]="!navbarOpened">
        <div class="navbar-item">
          <a routerLink="/home"><span class="material-symbols-outlined navbar-icon">home</span></a><br>
        </div>
        <div class="navbar-item">
          <a routerLink="/climbing"><span class="material-symbols-outlined navbar-icon">hiking</span></a><br>
        </div>
        <div class="navbar-item">
          <a routerLink="/KoT"><span class="material-symbols-outlined navbar-icon">stadia_controller</span></a><br>
        </div>
        <div class="navbar-item">
          <a routerLink="/notes"><span class="material-symbols-outlined navbar-icon">edit_note</span></a><br>
        </div>
        <div class="navbar-item">
          <a routerLink="/book"><span class="material-symbols-outlined navbar-icon">menu_book</span></a><br>
        </div>
        <div class="navbar-item">
          <a routerLink="/css"><span class="material-symbols-outlined navbar-icon">css</span></a><br>
        </div>
        <div class="navbar-item">
          <a routerLink="/todo"><span class="material-symbols-outlined navbar-icon">assignment_turned_in</span></a><br>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="auth-container" *ngIf="!isAuthenticated">
  <input type="password" (dblclick)="checkPassword()" [(ngModel)]="inputPassword">
</div>