<h1 *ngIf="!isAuthenticated">Book</h1>
<div class="auth-container" *ngIf="!isAuthenticated">

  <input type="password" (dblclick)="checkPassword()" [(ngModel)]="inputPassword">
</div>
<div class="book-container" *ngIf="isAuthenticated">
  <div class="settings">
    <button (click)="showThoughts = !showThoughts">Toggle thoughts</button>
    <button (click)="showPrivateStuff = !showPrivateStuff">Toggle Private stuff</button>
  </div>
  <hr />
  <p>
    21.05.23 15:56


  </p>
  <div *ngFor="let chapter of chapters">
    <h2>{{ chapter.title }}</h2>
    <h4>{{ chapter.date | date: 'd MMMM y, HH:mm' }}</h4>
    <p *ngFor="let paragraph of chapter.paragraphs">{{ paragraph.content }}</p>
  </div>
</div>
