<div class="settings">
  <button (click)="showThoughts = !showThoughts">Toggle thoughts</button>
  <button (click)="showPrivateStuff = !showPrivateStuff">Toggle Private stuff</button>
</div>
<h1>Velech scho</h1>
<p>
  I just rubbed my eyes like never before. I knew the day would come. I'm sitting in my room, it's 23:54. Almost time, I just realized. Time to change. Now. I changed. 26.11.2022, 23:55:20.
</p>
<p>
  I really really don't know if this was a good decicion, a bad decicion or both. I definitely changed my life. S esch füf for zwölfi. I take a deep breath and feel the bumpiness of the breath, 
  because I just stopped crying. Quite an interesting thing that I'm doing here. Is it just my typing routine? Me having fun of programming? Or am I actually writing a book, even if it's quite a small one?
  I don't know. But I'm writing it in Visual Studio Code, in the book.component.html file on kulikops-bastelecke website. Random, right?
</p>
<p>
  Anyways, I should start telling the story now. The first thing I'll write, is the end.
</p>

<h2>The end</h2>
<p>Sinja gifted me a day togerther, for my 19. Birthday. Back then we were still together. We both knew that we possible won't be a couple anymore on my birthday, but we agreed to spend this day together no 
  matter what. We went to Zürich today. When we arrived, the first thing we did, was eating Pho at Pho Na. It was good. 8/10. I bought a new Jacket, a dark turquoise Daunenjacke, which my parents gifted me for 
  Birthday. After this we searched for the real Photoautomat and landed in a Christmas market. It was cute as hell and everything seemed so alterna tive and left oriented. We found a cute silent corner with a couple of 
  benches and sat down. We leaned our heads onto each other. We probably discussed about our future, I don't exactly remember. I remember that I told her, we an't stay like this forever. We have to stop at some point. 
  She said: "Or get back together". My conclusion of the discussion was, that it would not matter if we continued today or not, so we continued. We kissed. I didn't even question it a lot, like last time we did this.
  So basically, the rest of the day we were kind of a couple again. We kissed, held hands, and so on. After we had a look at clothes in the Heilsarmee Brocki next to the market, we went to the real Photoautomat. 
  Sinja planned to go there and really wanted to take pictures. There were people waiting, and I randomly became an introvert, so I didn't want to go anymore. Sinja was able to überzeugen mich to do it anyways, which 
  was cool. After we took the pictures, we found out it really took analog pictures which took 6 minutes to print. We were not prepared to take the first two pictures, this dumb photoautomat just started taking pictures. 
  The other ones are looking good. It was already late so we took the train back to Olten and went to Sinjas house. She wanted to watch titanic with me. This is about the first thing Sinja wanted to do with me, after we 
  came together. Maybe even before. During the whole year, from time to time Sinja told me: "Ooh we finally need to watch Titanic together". 
  <span class="thought" *ngIf="showThoughts">
    Pretty fucking sad
    it ended with the thing she wanted to do first. Somehow pretty fucking beautiful. Actually one of the reasons for me to write this, because its some serious Drama content.
  </span>
</p>
 
<p>
  So we arrived at Sinjas house. She ringed the bell because she was tired of opening the app, whilst I locked my red Bycicle. Livia opened the door and let us in. I put of my shoes and hung up my new, dark turquoise 
  Daunen Jacket. First, I formed a ball of it, like I did an hour ago, just to get impressed by how small and light it is. We heard Livia talking to someone in the living room, which made Sinja really happy. "OMG, Livia
  didn't have friends for four years", she whispered to me, and laughed. 
  <span class="thought" *ngIf="showThoughts">
    At this point, I want to make a new menu Icon on the website for this book. All the time i spent on this website, I wondered what I'm going to do with it, what I'm going to program on it. It was all for 
    this book. I'm feeling like I'm loosing all my emotions by writing everything down, I forgot how I should be feeling. Also I'm not in the writing flow anymore but I'll try to continue. After a 10fastfingers test. 80 WPM.
  </span>
  We walked past the living room, into the small TV Room with a couch. Sinja put two packs of Microwave Popcorn into the microwave and gave one to Livia and her friend. I sat on the couch, Sinja next to me. She pressed
  the play button. We kissed again. "Am I allowed to give you mini spoilers?", asked smiling Sinja, but since I would find out everything quite soon, I said no.
  <span class="private" *ngIf="showPrivateStuff">
    About halfways through the movie, we started to get horny. No we didn't, we were horny the whole day. But at least that was when we started acting horny.
  </span>
  <span class="thought" *ngIf="showThoughts">
    Unfortunately, I just scrolled through instagram reels for half an hour, and forgot everything that happened this evening. I still want to write down that shit today because afterwards I will forget even more. So the 
    solution to this, is eating/drinking a bowl of buillon so thats what I'm going to do now. - I'm back. The three best things I know, are soup, salami and climbing. Thats why I ate bouillon, salami and took a short
    session on my hangboard.
  </span>  
  <span class="private" *ngIf="showPrivateStuff">
    <span class="thought" *ngIf="showThoughts">Now this is boutta get hella private and I don't feel too comfortable about that... However probably noone is going to read this ever so I don't really care.</span>
    We started to make out, while there were people falling off titanic, and it quickly got non-child-friendly. We both put a hand in each others private area and Sinja gave me a handjob.
    <span class="thought" *ngIf="showThoughts">I really do feel uncomfortable now</span>
  </span>
</p>
<p style="font-size: 30px;">[...]</p>
<p>
  The movie finished and the credits flew over the screen. I looked at Sinjas face, she was crying. We both knew she was going to cry before we started watching. "I'm sorry, I'm just too emotional", she said. We lied
  next to each other on the couch. I listened to the titanic music and started thinging about all the beautiful things, me and Sinja did together, all the fun time we spent. But also I was thinking about how our relationship
  will develop in the future. She asked me for a kiss, with a bit of hesitation we kissed. After a few minutes, Sinja asked me: "What are you thinking about?". She asks that from time to time and I usually don't really know what to answer. "About us. And what will become of us".
  I suddenly remembered every moment we spent together. Like in a flip-book, i saw my memories in front of my eyes. I felt a tear in my eyes, and I heard, that Sinja also started crying a little. Should we get back together?
  Or completely end the kind of relationship were having?
  <span class="thought" *ngIf="showThoughts">Holy crap, its already 02:38. I've been writing for almost 3 hours by now. The guild round already ended.</span> 
  Or just leave everything as it is now? I didn't want to leave it like it is now. I didn't know what to do. Sinja told me, its basically on me to decide. Because I know that she wants to get back together with me.
  "I know". I was thinking about how beautiful it would be if this was the last day of us having a romantic relation, because it was a really beautiful day, and a good way to end it. Also, we finally watched Titanic.
  The thing, she wanted to do since last year. This thought started a chain reaction that brought me to where I am now. Back then, I just didn't realize it. I sat up. And then, I saw something. There was a picture on 
  the wall, that I had never seen before. On the picture is an old red clock, standing on a wet road, showing the time 11:55. Füf vor zwölfi. Next to the clock was a text. And this text brought me to where I am now. 
  It said "Time for change".
</p>
<p><span style="font-size: 30px;">[...]</span> Sinja asked me if I'm gonna sleep at hers</p>
<p>
  "What do we do now?" asked Sinja and made a sad face. I didn't reply for a while. I looked at the picture again and thought about it. I realized there also was a second hand. It displayed exactly 20 seconds. So 
  tecnically it didnt show "Füf vor Zwölfi", but 4:20 before twelfe. Thats why I replied to her question, with a dead serious voice: "Smoke a joint". She was really confused and told me not to, which I found quite 
  amusing. Time for change. Like in a fewer dream, I couldn't get this quote out of my mind, I couldn't think of anything else. I started believing, maybe this was the way to go. Change. And change means, totally
  stopping my relationship with her. Sinja wanted to cuddle, so we cuddled. I just couldn't get my view off this damn picture. I probably stared at it for at least ten minutes. And then, Sinja asked me for a kiss.
  A kiss, that she would not get. And she recieved almost every single kiss she ever requested. "I don't feel like it. I'm just not quite in the mood now.". I said this, while looking at the picture. Time for change.
</p>
<p>
  "Should I stop?" She meant stopping, to ask for kisses. Not only this, but also stopping with cuddling, stopping everything. Just stop. I somehow felt, that she meant everything, even tho she never said that.<br>
  I didn't know wether I wanted it to stop or not. In a short time perspective, I just wanted to have fun and be happy, so just to continue. However on a long time perspective it would probably make more sence to stop.
  So I said "I don't know". But I continued thinking. Though, I didn't find a better answer. Maybe I wanted it to stop. I didn't think about what consequences it will have. So I said: "Velech scho".
</p>
<p>
  I should have thought more about saying this. I just let it out. It was something that would usually be on your mind, but you don't say. It was an option that I had among others. What brought me to saying it, I don't know.
  That was quite spontanious.
  <span class="thought" *ngIf="showThoughts">I am currently wondering why there is a bottle of soy sauce on the floor next to my chair. And also, I shoudl go sleep now, since its 03:21. Good night, guys...or just myself.</span>
</p>