<h1>Velech scho</h1>
<p>
  I just rubbed my eyes like never before. I knew the day would come. I'm sitting in my room, it's 23:54. Almost time, I just realized. Time to change. Now. I changed. 26.11.2022, 23:55:20.
</p>
<p>
  I really really don't know if this was a good decicion, a bad decicion or both. I definitely changed my life. S esch füf for zwölfi. I take a deep breath and feel the bumpiness of the breath, 
  because I just stopped crying. Quite an interesting thing that I'm doing here. Is it just my typing routine? Me having fun of programming? Or am I actually writing a book, even if it's quite a small one?
  I don't know. But I'm writing it in Visual Studio Code, in the book.component.html file on kulikops-bastelecke website. Random, right?
</p>
<p>
  Anyways, I should start telling the story now. The first thing I'll write, is the end.
</p>

<h2>The end</h2>
<p>Sinja gifted me a day togerther, for my 19. Birthday. Back then we were still together. We both knew that we possible won't be a couple anymore on my birthday, but we agreed to spend this day together no 
  matter what. We went to Zürich today. When we arrived, the first thing we did, was eating Pho at Pho Na. It was good. 8/10. I bought a new Jacket, a dark turquoise Daunenjacke, which my parents gifted me for 
  Birthday. After this we searched for the real Photoautomat and landed in a Christmas market. It was cute as hell and everything seemed so alternative and left oriented. We found a cute silent corner with a couple of 
  benches and sat down. We leaned our heads onto each other. We probably discussed about our future, I don't exactly remember. I remember that I told her, we an't stay like this forever. We have to stop at some point. 
  She said: "Or get back together". My conclusion of the discussion was, that it would not matter if we continued today or not, so we continued. We kissed. I didn't even question it a lot, like last time we did this.
  So basically, the rest of the day we were kind of a couple again. We kissed, held hands, and so on. After we had a look at clothes in the Heilsarmee Brocki next to the market, we went to the real Photoautomat. 
  Sinja planned to go there and really wanted to take pictures. There were people waiting, and I randomly became an introvert, so I didn't want to go anymore. Sinja was able to überzeugen mich to do it anyways, which 
  was cool. After we took the pictures, we found out it really took analog pictures which took 6 minutes to print. We were not prepared to take the first two pictures, this dumb photoautomat just started taking pictures. 
  The other ones are looking good. It was already late so we took the train back to Olten and went to Sinjas house. She wanted to watch titanic with me.
</p>
<p>
  This is about the first thing Sinja wanted to do with me, after we came together. Maybe even before. During the whole year, from time to time Sinja told me: "Ooh we finally need to watch Titanic together". Pretty fucking sad
  it ended with the thing she wanted to do first. Somehow pretty fucking beautiful. <span class="thought">Actually one of the reasons for me to write this, because its some serious Drama content.</span>
</p>
<p>
  So we arrived at Sinjas house. She ringed the bell because she was tired of opening the app, whilst I locked my red Bycicle. Livia opened the door and let us in. I put of my shoes and hung up my new, dark turquoise 
  Daunen Jacket. First, I formed a ball of it, like I did an hour ago, just to get impressed by how small and light it is. We heard Livia talking to someone in the living room, which made Sinja really happy. "OMG, Livia
  didn't have friends for four years", she whispered to me, and laughed. 
  <span class="thought">
    At this point, I want to make a new menu Icon on the website for this book. All the time i spent on this website, I wondered    what I'm going to do with it, what I'm going to program on it. It was all for 
    this book.
  </span>
</p>