@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



h1 {
  font-size: 70px;
}

body {
  height: 100%;
  background-attachment: fixed !important;
  background: var(--color-background);
  color: var(--color-text-primary);
}
h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
}

/* THEMEEEESSSSSS LETS GOOOOO */

/* HOW TO SET A THEME: */
/* document.getElementsByTagName('body')[0].setAttribute("class", "theme-wavez"); */

.theme-default {
  --color-background: #15151b;
  --color-background-primary: #2a2c36;
  --color-background-secondary: #424551;
  --color-highlight: #ffffff;
  --color-text-primary: #ffffff;
  --color-text-secondary: #9c9b9b;
  --color-heading: #ffffff;
}
.theme-wavez {
  --color-background: #1c292f;
  --color-background-primary: #1b3238;
  --color-background-secondary: #172126;
  --color-highlight: #6bde3b;
  --color-text-primary: #27707e;
  --color-text-secondary: #27707e;
  --color-heading: #ffffff;
}
/* END OF THEEEEMEEEESSSSS */



@media screen and (max-width: 650px) {
  h1 {
    margin-left: calc(65px + 1vh) !important;
    font-size: 30px;
  }
}
