@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

h1 {
  font-size: 70px;
}

body {
  height: 100%;
  background-attachment: fixed !important;
  background: #15151b;
  color: white;
}