.navbar {
  position: absolute;
  z-index: 100;
  background-color: #121212;
  top: 1vh;
  left: 1vh;
  border-radius: 7px;
  padding: 0;
}

.navbar-opened {
  height: 98vh;
  width: 15%;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  top: 0;
}


.navbar-toggler {
  color: white;
  width: 80px;
  height: 50px;
  cursor: pointer;
}