.navbar {
  z-index: 100;
  background-color: #2a2c36;
  top: 1vh;
  left: 1vh;
  border-radius: 15px;
  padding: 0;
  height: 98vh;
  margin-right: 2vh;
}

.navbar-opened {
  width: 15%;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
}

.navbar-toggler {
  color: white;
  cursor: pointer;
  border: none;
}

.navbar-icon {
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  color: white;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.navbar-icon:hover {
  color: #15151b;
  background: white;
}

.navbar-content {
  height: 100%;
}

.hidden {
  display: none;
}

.content {
  width: 100% ;
}

.top-container {
  display: flex;
}