<div class="navbar" [class.navbar-opened]="navbarOpened">
  <div class="navbar-container">
    <div class="navbar-toggler" (click)="navbarOpened = !navbarOpened"><span class="material-symbols-outlined menu-icon">menu</span></div>
    <div class="navbar-content" [class.hidden]="!navbarOpened">
      <a routerLink="/home">home</a><br>
      <a routerLink="/climbing">climbing</a><br>
      <a routerLink="/KoT">kot</a><br>
      
    </div>
  </div>
</div>


<div class="content">
  <router-outlet></router-outlet>
</div>