<div class="notes-container">
  <h1>Notes</h1>
  <div class="input-container">
    <input placeholder="Search" autofocus>  
    <input placeholder="New note">
  </div>
  
  <div class="note">
    <br><br><br><br><br><br><br>
    ToDos here:<br>
    I want to be able to make notes about anything, and add them into a list. in a topic. a topic has sub topics and sub topics and sub sub sub. you can show all notes or just certain ones.
    
    other todos: make a Console, like on monkeytype, accessable by maybe typing slash
  </div>
</div>

