<div class="notes-container">
  <h1>Notes</h1>
  <div class="input-container">
    <input placeholder="Search" autofocus tabindex="1" [(ngModel)]="searchQuery">
    <input id="new-note-input" placeholder="new note title" tabindex="2" [(ngModel)]="newNote" (keydown.enter)="addNewNote()">
  </div>

  <div class="note-pre-list">
    <!-- Note -->
    <div class="note-pre" *ngFor="let note of notes" tabindex="4">
      <div class="note-pre-title">
        {{ note[0] }}
      </div>
      <div class="note-pre-content">
        {{ note[1] }}
      </div>
    </div>

  </div>
</div>

